main{background:#ccdaff;
     line-height: 1.5;
     margin:0px ;
     padding:15px;
     border-radius:6px;
    display:flex;
    flex-direction:column;}

body{font-family:Georgia, Times, Arial;
     margin:0; padding:0;}

p {font-size: 140%; text-align:center;}

ul{text-align:left;
max-width:600px;
margin: 0 auto 50px auto;}

li {font-size:21px;
margin: 16px 0}

img{display: block;}


#image {max-width: 100%;
 height:auto;
justify-content:center;
margin:auto; border-radius:4px
}

#img-caption {font-size:14px;
              font-weight: bold;
              text-align:center;
              margin:15px 0 5px 0}

#title{text-align: center;
margin-bottom:1;
color:rgb(27, 67, 161)} 

#tribute-info{text-align:center;}

#edenia{color:#a37c07}

#jerrod{color:#1b4a22;}

#sindel{color:#700c6d;}

#kitana{color:#0f024f;}

#img-div{padding:11px;
         display: flex;
         text-align: center;
         flex-direction: column;}

#tribute-link{color:rgb(27, 67, 161);
          text-decoration:none;
          display: inline-block}


