
#image {max-width: 100%;
 max-height:auto;
justify-content:center;
margin:auto; border-radius:4px
}

#img-caption {font-size:110%;text-align:center;margin:15px 0 5px 0}

body{font-family:Georgia, Times, Arial;margin:8px}

img{display: block;}

#title{text-align: center;
margin-bottom:1;} 

p {font-size: 140%; text-align:center;}

#tribute-info{text-align:center;}

li {font-size:21px;
margin: 16px 0}

ul{text-align:left;
max-width:600px;
margin: 0 auto 50px auto;}

#edenia{color:#a37c07}

#jerrod{color:#1b4a22;}

#sindel{color:#700c6d;}

#kitana{color:#0f024f;}

#img-div{padding:11px;
}

main{background:#ccdaff;line-height: 1.5;margin:30px ;padding:15px; border-radius:6px}
